/** Configurações Iniciais **/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

.center{
    max-width: 1280px;
    margin: 0 auto;
}

.clear{
    clear: both; /* Reseta todos os floats que foram usados*/
}


/** Header CSS **/

header{
    width: 100%;
    height: 90px;
    background-color: #232757;
}

header h2{
    padding: 30px 15px;
    color: white;
}


/** Banner CSS **/

.container-banner{
    width: 100%;
    height: 530px;
    background-image: url("../images/header_bg.png");
    background-size: cover;
    background-position: center;
}


/** Text Banner CSS **/

div.container-list{
    margin-top: 80px;
    float: left;
    width: 520px;
    height: 280px;
    background-color: #212343da;
    padding: 15px;
    margin-left: 10px;
}

div.container-list ul{
    list-style-position: inside;
}

div.container-list ul li{
    color: white;
    margin-top: 10px
}


/** Form CSS **/

div.form{
    max-width: 400px;
    height: 560px;
    float: right;
    position: relative;
    top: -15px;
    border: 8px solid #ccc;
    background-color: white;
    padding: 10px;
    margin-right: 10px;
}

div.form h2{
    font-weight: normal;
    color: #999;
    font-size: 21px;
    text-align: center;
    padding-top: 30px;
}

div.form form p{
    color: #999;
    font-size: 17px;
    margin: 50px 0 20px;
}

div.form form input[type=submit]{
    display: block;
    width: 95%;
    color: white;
    height: 56px;
    background-color: #363A6D;
    margin: 20px auto;
    border: none;
    cursor: pointer;
    font-size: 17px;
}

div.form form input[type=submit]:hover{
    background-color: #2d3058;
    transition: 0.3s;
}

div.form form .input-container{
    margin-top: 20px;
}

div.form form .input-container label{
    display: block;
    width: 100%;
    color: #999;
    font-size: 17px;
}

div.form form .input-container input[type=text],
div.form form .input-container input[type=email]{
    display: block;
    width: 95%;
    padding: 12px;
    border: none;
    border: 1px solid #999;
    margin-top: 5px;
}


/** Section Text **/

section.text{
    padding: 40px 0;
    background-color: #ddd;
    text-align: center;
}

section.text h2{
    font-weight: normal;
    padding-bottom: 10px;
}

section.text p{
    display: inline-block;
    max-width: 700px;
    padding: 10px;
    text-align: justify;
}

section.text div.arrow{
    position: relative;
    top: 57.5px;
    left: 50%;
    margin-left: -18px;
    width: 35px;
    height: 35px;
    background-image: url("../images/arrow.png");
    background-size: 100% 100%;
}


/** Section Benefícios **/

section.options{
    padding: 90px 0;
}

section.options h2{
    text-align: center;
    font-weight: normal;
    color: #462663;
    padding-bottom: 20px;
}

section.options h2#title{
    padding-bottom: 60px;
}

section.options div.container-section{
    text-align: center;
}

section.options div.container-section div.container-single{
    float: left;
    width: 33%;
    padding: 10px;
}

section.options div.container-section div.container-single img{
    width: 60px;
}


/** Rodapé **/

footer{
    width: 100%;
    height: 90px;
    background-color: #232757;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
}

footer a{
    text-decoration: none;
    color: white;
}

footer a:hover{
    text-decoration: underline;
}


/** Medias para telas menores **/

@media screen and (max-width: 950px){
    div.form{
        display: block;
        float: none;
        margin: 0 auto;
        z-index: 2;
    }
    div.container-list{
        display: block;
        position: relative;
        z-index: 1;
        top: -30px;
        height: 100%;
        width: 100%;
        background-color: #242644;
        padding: 30px;
        margin: 0;
    }    
}

@media screen and (max-width: 500px){
    header h2{
        display: block;
        text-align: center;
    }
    div.form{
        max-width: 95%;
    }
    section.options div.container-section div.container-single{
        float: none;
        width: 100%;
    }
}